import Config

config :exgetapi, ecto_repos: [Exgetapi.Repo]

# database configuration
config :exgetapi, Exgetapi.Repo,
  database: "exgetapi_repo",
  username: "postgres",
  password: "postgres",
  hostname: "localhost",
  port: "5432"
